<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>
      <% if content_for? :title %>
        <%= yield :title %>
      <% else %>
        MatchBooster | No Tinder Matches? Get More Matches On Tinder
      <% end %>
    </title>
    <meta name="description" content=
      <% if content_for? :description %>
        <%= yield :description %>
      <% else %>
        "No matches on Tinder? MatchBooster helps boost your matches & likes on Tinder | Our smart script helps you get more tinder matches!"
      <% end %>
    >
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
    <%= favicon_link_tag 'favicon.png' %>
  </head>

  <body>
    <%= yield %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
